<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <h2>Hello World!!!</h2>
        <h2>Spring Boot Web Application</h2>
        <form action="addCustomer">
            <label for="custid">Enter ID:</label>
            <input type="text" id="custid" name="custid">
            <label for="custname">Enter Name:</label>
            <input type="text" id="custname" name="custname">
            <input type="submit" value="submit">
        </form>
    </body>
</html>

