<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>FoodPlaza_Anil</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Username</display-name>
    <servlet-name>Username</servlet-name>
    <servlet-class>example.Username</servlet-class>
    <init-param>
      <param-name>name1</param-name>
      <param-value>Shridhar</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Username</servlet-name>
    <url-pattern>/Username</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>email1</param-name>
    <param-value>abc@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>country1</param-name>
    <param-value>India</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>CompanyDetails</display-name>
    <servlet-name>CompanyDetails</servlet-name>
    <servlet-class>example.CompanyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyDetails</servlet-name>
    <url-pattern>/CompanyDetails</url-pattern>
  </servlet-mapping>
</web-app>